<div>
  <nav class='navbar navbar-expand navbar-light bg-light'>
    <img class='navbar-brand' src="assets/images/840px-Instagram_logo.svg.png" style="height: 50px;">
      <ul class='nav nav-pills'>
        <li><a class='nav-link' [routerLink]="['/posts']" style="text-decoration:none; color: black;">Home</a></li>
        <li><a class='nav-link' [routerLink]="['/posts/create']" style="text-decoration:none; color: black;">Create new post</a></li>
      </ul>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>