<div class="body">
  <nav class='navbar navbar-expand navbar-light bg-light'>
    <a [routerLink]="['/welcome']"><img class='navbar-brand' src="assets/images/logo.png" style="height: 55px;"></a>
      <ul class='nav nav-pills'>
        <li><a class='nav-link' [routerLink]="['/posts']"><b>Home</b></a></li>
        <li><a class='nav-link' [routerLink]="['/posts/create']"><b>Create new post</b></a></li>
      </ul>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>