<hr>
<div class="posts">

    <div class="row">
        <div class="col-md-4" *ngFor="let post of posts" style="max: height 11rem;">

            <div class="card" style="width: 24rem; height: 12rem;">

                <a [routerLink]="[post.id, 'details']"><img class="card-img-top" [src]="post.thumbnailUrl" style="width: 6rem;"></a>
                <div class="card-body">
                    <a [routerLink]="[post.id, 'details']">
                        <i><b>{{post?.title}}</b></i>
                    </a>
                </div>
                <br>
            </div>
            <br>
        </div>
        <br>
    </div>
    <br>
</div>