<hr>
<div class="posts">

    <div class="row">
        <div class="col-md-4" *ngFor="let post of posts" style="max: height 10rem;">


            <div class="card" style="max-width: 25rem; height: 10rem;">

                <img class="card-img-top" src="..." style="width: 15rem;">
                <div class="card-body">
                    <a [routerLink]="[post.id, 'details']" style="text-decoration: none; color: rgb(56, 36, 36);">
                        <b>{{post?.title}}</b>
                    </a>
                </div>
                <br>
            </div>
            <br>
        </div>
        <br>
    </div>
    <br>
</div>